[influx]
INFLUXDB_ADDRESS = 
INFLUXDB_PORT = 
INFLUXDB_USER = 
INFLUXDB_PASSWORD = 
INFLUXDB_DATABASE = 
INFLUXDB_USESLL = 
INFLUXDB_NOVERIFY = 
INFLUXDB_CREATE = 


[mqtt]
MQTT_ADDRESS = 
MQTT_PORT = 
MQTT_USER = 
MQTT_PASSWORD = 
MQTT_TOPIC = 
MQTT_CLIENT_ID = 
MQTT_SSL = 

